#main {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    background-color: beige;
}

.newIcon {
    font-size: 7pt;
    font-family: helvetica;
    background-color: black;
    color: white;
}

#newPoem {
    padding-left: 8%;
    padding-bottom: 5%;
    color: #aaaaaa;
    font-family: monospace;
}

#newPoemTitle {
    text-align: center;
    font-family: monospace;
    color: #555555;
}

#poem {
    font-family: inherit;
    color: #555555;
}
