#returnPortal {
    font-size: small
}

.poem {
    font-family: sans-serif;
}

.date {
    color: #cccccc;
    font-family: monospace;
}

.month {
    color: #888888;
    font-family: monospace;
}

.year {
    color: #444444;
    font-family: monospace;
}

#title {
    font-family: monospace;
}

#main {
    margin-left: 3%;
}

#footer {
    margin-left: 2%;
}
