* {
    font-family: sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

#main {
    margin: 0 0 30px;
}

footer {
    display: table;
    height: 30px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

#footerText {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    font-family: monospace;
    color: #999999;
    font-size: 11px;
}

.footerLink {
    font-family: monospace;
    color: #999999;
    font-size: 11px;
}

.centering
{
    margin: auto;
    width: 25%;
}
